@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Product>

<style>
    #Bags,#Kitchen,#Shoes{
        width:100%;
        background-color:white;
    }
    .bag:hover{
        ruby-position:over;
    }

</style>

  <div id="sale">
        <img src="~/css/Sale2.jpg" width="24%">
        <img src="~/css/Sale1.jpg" width="24%">
        <img src="~/css/Sale3.webp" width="24%" style="margin: 1px;">
        <img src="~/css/Sale4.jpg" width="24%">
  </div>
  <br>
 

@*<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Product_Image" @* style="height: 225px; width: 100%; display: block;">
                        <div class="card-body">
                            <p class="card-text">@item.Product_Name</p>
                            <p class="card-text">@item.Product_Price INR</p>
                            <p class="card-text">@item.Product_Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Cart</button>
                                </div>
                                <small class="text-muted" style="color:red;">SALE</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>*@
   <table id="Bags">
            <tr>
                <th colspan="5">
                    <h2>School Bags</h2>
                    <hr>
                </th>
            </tr>     
       
       
        <tr>
            <th><img src="~/css/bag1.webp" width="80%" class="bag"/></th>
            <th><img src="~/css/bag1.webp" width="80%" class="bag"/></th>
            <th><img src="~/css/bag1.webp" width="80%" class="bag"/></th>
            <th><img src="~/css/bag1.webp" width="80%" class="bag"/></th>
            <th><img src="~/css/bag1.webp" width="80%" class="bag"/></th>
        </tr>

       @* <tr style="color:green">
            <th>INR:289</th>
            <th>INR:879</th>
            <th>INR:459</th>
            <th>INR:419</th>
            <th>INR:789</th>
        </tr>*@
    </table>
    <br>
<table id="Kitchen">
    <tr>
        <th colspan="5">
            <h2>Kitchen Appliances</h2>
            <hr>
        </th>
    </tr>

    <tr>
        <th><img src="~/css/kitchen1.webp" width="80%" /></th>
        <th><img src="~/css/kitchen1.webp" width="80%" /></th>
        <th><img src="~/css/kitchen1.webp" width="80%" /></th>
        <th><img src="~/css/kitchen1.webp" width="80%" /></th>
        <th><img src="~/css/kitchen1.webp" width="80%" /></th>
       
    </tr>
</table>
<table id="Shoes">
    <tr>
        <th colspan="5">
            <h2>Shoes Collection</h2>
            <hr>
        </th>
    </tr>

    <tr>
        <th><img src="~/css/shoes.webp" width="100%" /></th>
        <th><img src="~/css/shoes.webp" width="100%" /></th>
        <th><img src="~/css/shoes.webp" width="100%" /></th>
        <th><img src="~/css/shoes.webp" width="100%" /></th>
        <th><img src="~/css/shoes.webp" width="100%" /></th>
      
    </tr>
</table>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>E-Commerce Site</p>
</div>
