@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<pre>Companies or websites that handle customer information are required by law and third parties to publish their Privacy Policies on their business websites.
    If you own a website, web app, mobile app or desktop app that collects or processes user data, you most certainly will have to post a Privacy Policy on your website
    (or give in-app access to the full Privacy Policy agreement).

Privacy is not a new concept. Humans have always desired privacy in their social as well as private lives. But the idea of privacy as a human right is a relatively modern phenomenon.

Around the world, laws and regulations have been developed for the protection of data related to government, education, health, children, consumers, financial institutions, etc.

This data is critical to the person it belongs to. From credit card numbers and social security numbers to email addresses and phone numbers, our sensitive, personally identifiable
information is important. This sort of information in unreliable hands can potentially have far-reaching consequences.

There are several reasons for a website to post its Privacy Policy agreement on its website.

Here are some of the main reasons:

1. Required by the law

2. Required by third party services

3. Increases Transparency

Let's take a look at each of these reasons in more depth.</pre>
